<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Podcast Episodes</title>
  </head>
  <body>
    <h1>Episodes</h1>
    <ul>
      {% for episode in episodes %}
      <li>
        <a href="{{ episode.url }}" target="_blank">{{ episode.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
