<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
  </head>
  <body class="results">
    
    <h2>🎙️ Podcasts and Resources in ENG, DE, IT, RO, RUS 🎙️</h2>
    <a href="{{url_for("home")}}">Back </a>
    <ul>
      {% for podcast in podcasts %}
      <li>
        🎤 {{ podcast.name }}:
        <a href="{{ podcast.url }}" target="_blank">Check it</a>
      </li>
      {% endfor %}
    </ul>
    <a href="{{url_for("home")}}">Back </a>
    {% if error %}
<div class="error-message">
  <p>{{ error }}</p>
</div>
{% endif %}
  </body>
</html>
