<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Podcasts</title>
  </head>
  <body class="results">
    <h1>🎙️ Podcasts in ENG, DE, IT, RO</h1>
    <ul>
      {% for podcast in podcasts %}
      <li>
        {{ podcast.name }}:
        <a href="{{ podcast.url }}" target="_blank">Check it</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
